rules_version='2'

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      // Only backend SDK currently needs access (which bypasses these rules)
      allow read, write: if false;
    }
  }
}
